<div class="edit-profile">
    <div class="edit-title">
        <span>{{ 'EDITPROFILE.NAME' | translate }}</span>
    </div>
    <div class="edit-body">
        <div class="edit-header"></div>
        <div class="edit-avatar">
            <label #userpicLabel for="userpic"></label>
            <input type="file" (change)="onChangeUserpic($event)" accept=".jpg, .png, .bmp" id="userpic" class="form-control" name="userpic"
                required userpic>
            <div class="images" appProfileformUserpic (filesChangeEmiter)="onDragUserpic($event)" (filesInvalidEmiter)="onInvalidDragUserpic($event)"
                (click)="onUploadUserpic($event)" [allowed_extensions]="[ 'png', 'jpg', 'bmp' ]">
                <cl-image *ngIf="profileData.userInfo.userpic.length" class="avatar" secure="true" public-id="{{ profileData.userInfo.userpic }}"
                    format="jpg">
                </cl-image>
                <img *ngIf="!profileData.userInfo.userpic.length" class="avatar" src="assets/home/error-image-generic.png" alt="..">
                <span class="edits">&#9998;</span>
                <span class="edits-background"></span>
            </div>

        </div>
        <form class="edit-profile-form" #editProfile="ngForm">
            <div class="user-data" ngModelGroup="eventData" #eventData="ngModelGroup">

                <div class="form-group">
                    <label for="firstName">{{ 'EDITPROFILE.TITLE.FIRSTNAME' | translate }}</label>
                    <input maxlength="20" placeholder="{{ 'EDITPROFILE.PLACEHOLDER.NAME' | translate }}" type="eventTitle" id="firstName" class="form-control"
                        [(ngModel)]="profileData.userInfo.firstname" name="firstName" required firstName #firstName="ngModel">
                    <span *ngIf="!noWhitespaceValidator(firstName) || firstName.touched && !firstName.valid" class="valid-error">{{ 'EDITPROFILE.ERROR.FIRSTNAME' | translate }}</span>

                </div>

                <div class="form-group">
                    <label for="lastName">{{ 'EDITPROFILE.TITLE.LASTNAME' | translate }}</label>
                    <input maxlength="20" placeholder="{{ 'EDITPROFILE.PLACEHOLDER.SURNAME' | translate }}" type="eventTitle" id="lastName" class="form-control"
                        [(ngModel)]="profileData.userInfo.lastname" name="lastName" required lastName #lastName="ngModel">
                    <span *ngIf="!noWhitespaceValidator(lastName) || lastName.touched && !lastName.valid" class="valid-error">{{ 'EDITPROFILE.ERROR.LASTNAME' | translate }}</span>

                </div>

                <div class="form-group">
                    <label for="middleName">{{ 'EDITPROFILE.TITLE.MIDDLENAME' | translate }}</label>
                    <input maxlength="20" placeholder="{{ 'EDITPROFILE.PLACEHOLDER.MIDDLENAME' | translate }}" type="eventTitle" id="middleName"
                        class="form-control" [(ngModel)]="profileData.userInfo.middlename" name="middleName" required middleName
                        #middleName="ngModel">
                    <span *ngIf="!noWhitespaceValidator(middleName) || middleName.touched && !middleName.valid" class="valid-error">{{ 'EDITPROFILE.ERROR.MIDDLENAME' | translate }}</span>

                </div>

                <div class="form-group age-form">
                    <mat-form-field class="form-group experience-form">
                        <label for="experience">{{ 'EDITPROFILE.TITLE.EXPERIENCE' | translate }}</label>
                        <mat-select [(ngModel)]="experience" [ngModelOptions]="{standalone: true}" (change)="setExperience($event)" class="form-control"
                            panelClass="experience-dropdown-class">
                            <mat-option *ngFor="let experience of ( 15 | ageList: 1 )" [value]="experience">
                                {{ experience }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>



                <div class="region-form">
                    <div class="form-group">
                        <label for="region">{{ 'EDITPROFILE.TITLE.REGION' | translate }}</label>
                        <div>
                            <ng4geo-autocomplete (change)="checkRegion()" [userSettings]="regionSettings" (componentCallback)="autoCompleteCallback($event)"></ng4geo-autocomplete>
                        </div>
                        <span *ngIf="!regionId.length" class="valid-error">{{ 'EDITPROFILE.ERROR.REGION' | translate }}</span>

                    </div>
                </div>
                <div class="form-group">
                    <label for="interests" class="interests">{{ 'EDITPROFILE.TITLE.INTERESTS' | translate }}</label>
                    <textarea [(ngModel)]="profileData.userInfo.interests" placeholder="{{ 'EDITPROFILE.PLACEHOLDER.INTERESTS' | translate }}"
                        rows="2" maxlength="1000" type="interests" id="interests" class="form-control" ngModel name="interests"
                        required interests #interests="ngModel">
                    </textarea>
                    <span *ngIf="!noWhitespaceValidator(interests) || interests.touched && !interests.valid" class="valid-error">{{ 'EDITPROFILE.ERROR.INTERESTS' | translate }}</span>

                </div>


                <div class="works-input">
                    <label class="works-label" for="work">{{ 'EDITPROFILE.TITLE.WORKDOMAIN' | translate }}</label>
                    <mat-form-field class="demo-chip-list">
                        <mat-chip-list #workList>
                            <mat-chip *ngFor="let work of profileData.userInfo.works" [selectable]="selectable" [removable]="removable" (remove)="removeWork(work)">
                                {{work}}
                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                            </mat-chip>
                            <input maxlength="20" #worksInput="ngModel" ngModel name="works" placeholder="{{ 'EDITPROFILE.PLACEHOLDER.WORKDOMAINS' | translate}}"
                                id="works-label" [matChipInputFor]="workList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addWork($event)" (input)="setNewWork($event.target.value)"
                            />
                        </mat-chip-list>
                    </mat-form-field>
                    <span *ngIf="checkWorks(worksInput)" class="valid-error">{{ 'EDITPROFILE.ERROR.WORKDOMAIN' | translate }}</span>

                </div>

                <div class="medias-input">
                    <label class="medias-label" for="media">{{ 'EDITPROFILE.TITLE.MEDIA' | translate }}</label>
                    <mat-form-field class="demo-chip-list">
                        <mat-chip-list #mediaList>
                            <mat-chip *ngFor="let media of profileData.userInfo.medias" [selectable]="selectable" [removable]="removable" (remove)="removeMedia(media)">
                                {{media}}
                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                            </mat-chip>
                            <input maxlength="20" #mediaInput="ngModel" ngModel name="medias" placeholder="{{ 'EDITPROFILE.PLACEHOLDER.MEDIA' | translate}}"
                                id="medias-label" [matChipInputFor]="mediaList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addMedia($event)" (input)="setNewMedia($event.target.value)"
                            />
                        </mat-chip-list>
                    </mat-form-field>
                    <span *ngIf="checkMedias(mediaInput)" class="valid-error">{{ 'EDITPROFILE.ERROR.MEDIA' | translate }}</span>

                </div>

            </div>
        </form>
    </div>
    <div class="edit-footer">
        <button mat-button class="edit-btn" [disabled]="loading || !eventData.valid || !regionId.length || !works.length || !medias.length || checkForm()"
            (click)="saveProfileInfo()">
            {{ 'EDITPROFILE.SAVE' | translate }}
        </button>
    </div>
</div>
