.mat-card.discussion-card {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #dfdfdf;
    box-shadow: none !important;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    position: relative;
    padding: 18px 0;
    border-radius: 2px;
    .discussion-block {
        overflow: hidden;
        position: relative;
        float: left;
        width: 100%;
        .image-block {
            position: relative;
            float: left;
            margin-right: 15px;
            width: 183.75px;
            height: 135px;
            img {
                margin: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .info {
            margin: 0;
            position: relative;
            float: left;
            width: calc(100% + -200px);
            .info-title {
                margin: 0;
                &.info-header {
                    font-family: roboto;
                    font-size: 21.75px;
                    font-weight: bold;
                    text-align: left;
                    color: #2b094d;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    width: 725px;
                    height: 1.5em;
                    white-space: nowrap;
                    a {
                        color: #2b094d;
                    }
                }
                &.info-sub {
                    font-family: roboto;
                    font-size: 15.75px;
                    font-weight: normal;
                    text-align: left;
                    color: #2b094d;
                    line-height: 26px;
                }
            }
            .menu-block {
                position: absolute;
                right: 0;
                button {
                    font-size: 25px;
                    width: 8px;
                    height: 32px;
                    opacity: 0.3;
                    line-height: 35px;
                    text-align: right;
                    padding: 0;
                    min-width: 13px;
                    color: #2b094d;
                    &:focus {
                        outline: none;
                        border: 0;
                        border-color: transparent;
                    }
                    .mat-button-focus-overlay {
                        background-color: transparent;
                    }
                }
            }
        }
        
        .footer {
            position: absolute;
            bottom: 0;
            float: left;
            margin: 0;
            font-family: roboto;
            font-size: 15.75px;
            font-weight: normal;
            left: 206px;
            a {
                color: #bfbfbf;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
}

//styled md-menu on events//

.item-style {
    .mat-menu-content {
        padding: 0;
        .mat-menu-item {
            height: 36px;
            line-height: 36px;
            font-size: 15px;
            &:focus {
                outline: none;
                border: 0;
                border-color: transparent;
            }
        }
    }
}
