body,
html {
    font-family: 'Roboto';
    -webkit-font-smoothing: antialiased;
}

.heading,
.location-default-icon {
    display: none !important;
}

// .ng-star-inserted {
//     a {
//         height: 48px;
//         line-height: 36px;
//     }
// }
